.combo-options {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  border: 1px solid #ccc;
  background: white;
  max-height: 150px;
  overflow-y: auto;
  z-index: 1000;
  color: black;
}

.combo-options li:hover {
    background-color: grey;
}

.combo-box {
  position: relative;
  width: 220px;
}

.combo-box input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}