
.graph_page {
  align-items: center;
}

.graph_container {
  /* TODO */
}

.graph_chart {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 20px; */
  padding-bottom: 0px;
} 

.graph_line_chart {
  /* margin-bottom: 5rem; */
  margin-top: 10px;
  margin-bottom: 10px;
  width: 60%;
  padding: 20px;
  background-color: white;
}

.graph_ticker_selector {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.graph_ticker_selector button {
  background-color: white;
  margin-left: 5px;
}

.graph_indicator_field {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.graph_indicator_field button {
  background-color: white;
  margin-left: 5px;
}

.graph_selector {
  display: flex;
  flex-direction: row;
  background-color: blueviolet;
  padding-left: 400px;
}

.graph_legend {
}

.legend_entry {
  display: flex;
  width: fit-content;
  margin-left: 400px;
  border: 2px white;
  align-items: center;
}

.legend_entry_description {
  color: white;
  width: 300px;
  text-align: left;
  border-radius: 5px;
  height: 40px;

  display: flex;
  align-items: center;
  padding-left: 8px;
}

.legend_entry button {
  height: 40px;
  display: flex;
  align-items: center;
}